<configuration>
    <!-- Console Appender -->
    <appender name="consoleAppend" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd'T'HH:mm:ss.SSSXXX} %-5level [%thread] %logger{36} - %msg%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>INFO</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <prudent>true</prudent>
    </appender>
화    <appender name="fileAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- 로그 파일 이름 패턴 및 압축 주기 설정 -->
            <fileNamePattern>/path/to/logs/mylog.%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
            <maxHistory>30</maxHistory> <!-- 압축된 로그 파일 보관 기간 -->
            <totalSizeCap>100MB</totalSizeCap> <!-- 로그 파일 총 크기 제한 -->
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd'T'HH:mm:ss.SSSXXX} %-5level [%thread] %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    <appender name="debugAppend" class="ch.qos.logback.core.FileAppender">
        <file>log-debug.log</file>
        <encoder>
            <pattern>%d{yyyy-MM-dd'T'HH:mm:ss.SSSXXX}  %-5level [%thread] %logger{36} : %msg%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>DEBUG</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>debug.%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
            <maxHistory>20</maxHistory> <!-- 압축된 로그 파일 보관 기간 -->
            <totalSizeCap>100MB</totalSizeCap> <!-- 로그 파일 총 크기 제한 -->
        </rollingPolicy>
        <!--        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">-->
        <!--            <maxFileSize>10MB</maxFileSize>-->
        <!--        </triggeringPolicy>-->
        <prudent>true</prudent>
    </appender>

    <appender name="infoAppend" class="ch.qos.logback.core.FileAppender">
        <file>log-info.log</file>
        <encoder>
            <pattern>%d{yyyy-MM-dd'T'HH:mm:ss.SSSXXX}  %-5level [%thread] %logger{36} : %msg%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>INFO</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>info.%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
            <maxHistory>20</maxHistory> <!-- 압축된 로그 파일 보관 기간 -->
            <totalSizeCap>50MB</totalSizeCap> <!-- 로그 파일 총 크기 제한 -->
        </rollingPolicy>
        <!--        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">-->
        <!--            <maxFileSize>10MB</maxFileSize>-->
        <!--        </triggeringPolicy>-->
        <prudent>true</prudent>
    </appender>

    <appender name="errorAppend" class="ch.qos.logback.core.FileAppender">
        <file>log-error.log</file>
        <encoder>
            <pattern>%d{yyyy-MM-dd'T'HH:mm:ss.SSSXXX}  %-5level [%thread] %logger{36} : %msg%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>WARN</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>error.%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
            <maxHistory>20</maxHistory> <!-- 압축된 로그 파일 보관 기간 -->
            <totalSizeCap>30MB</totalSizeCap> <!-- 로그 파일 총 크기 제한 -->
        </rollingPolicy>
        <!--        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">-->
        <!--            <maxFileSize>10MB</maxFileSize>-->
        <!--        </triggeringPolicy>-->
        <prudent>true</prudent>
    </appender>

    <root level="DEBUG">
        <appender-ref ref="consoleAppend" />
        <appender-ref ref="debugAppend" />
        <appender-ref ref="infoAppend" />
        <appender-ref ref="errorAppend" />
    </root>

</configuration>
