<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<a href="#" onClick=handleUnlinkClick()>linkout</a><br/>
<a href="#" onClick=handleLogOutClick()>logout</a><br/><br/>
<script>
    // const accessToken = document.querySelector('p[name="token"]').innerText;
    const client_id = "eec30559b1482179d83dd69beb47a816";
    const logout_uri = "http://localhost:8080/user/logout";
    const handleLogOutClick = (e) => location.href = `https://kauth.kakao.com/oauth/logout?client_id=${client_id}&logout_redirect_uri=${logout_uri}`;
    function handleUnlinkClick() {
        var xhr = new XMLHttpRequest();
        xhr.open('POST', 'https://kapi.kakao.com/v1/user/unlink');
        xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
        xhr.setRequestHeader('Authorization', 'Bearer ' + accessToken);
        xhr.onreadystatechange = function() {
            if (xhr.status === 200) {
                // 연결 끊기 성공 후 처리할 내용
                console.log('Success');
            } else {
                // 연결 끊기 실패 후 처리할 내용
                console.error(xhr.responseText);
            }
        };
        xhr.send();
    }
</script>

</body>
</html>